@{
    Layout = "_Layout";
}
@using System.Text.RegularExpressions;
@using System.Text.Json;
@using FormatterClient.Models
@model AddressFormatter

@functions {
    public string Reformat(string name)
    {
        Regex regex = new Regex(@"[A-Z][a-z]+");
        Match match = regex.Match(name);
        if (match.Success)
        {
            List<string> matches = new List<string>();
            foreach (Group g in match.Groups)
                matches.Add(g.Value);
            return String.Join(" ", matches);
        }
        return name;
    }

    public string[] Pattern(string pattern)
    {
        string[] lines = pattern.Split("\n");
        for (int j = 0; j < lines.Length; j++)
        {
            string[] tokens = lines[j].Split(new char[] { '{', '}' });
            for (int i = 0; i < tokens.Length; i++)
            {
                if (tokens[i].Contains("-number"))
                    tokens[i] = (new Random().Next(1, 100)).ToString();
                else if (tokens[i].Contains("-code"))
                    tokens[i] = (new Random().Next(100, 10000)).ToString();

                if (tokens[i].Contains(":") && tokens[i][0].ToString() == ":")
                    tokens[i] = tokens[i].Substring(1);

                if (tokens[i].Contains("-"))
                    tokens[i] = String.Join(" ", tokens[i].Split("-"));

                if (tokens[i].Length != 0 && tokens[i][0].ToString() != " ")
                    tokens[i] = tokens[i][0].ToString().ToUpper() + tokens[i].Substring(1);
            }
            string line = String.Join(" ", tokens);
            lines[j] = line.Replace(" ,", ",");
        }
        return lines;
    }
}

<style>
    form {
        width: 100%;
        margin-top: 1.2rem;
        display: grid;
        grid-template-columns: 12rem 1fr;
        gap: 1rem;
    }

    form input[type=submit] {
        grid-column: span 2;
    }
</style>

<section class="page-title">
    <h3><strong>Country:</strong> @Model.CountryName</h3>
    @Html.ActionLink("Select a different country", "Index")
</section>
<section>
    <details id="select_format" open>
        <summary>Select a format</summary>
        @foreach (Format format in @Model.Formats)
        {
            <div>
                <p><strong>@Reformat(@format.FormatName)</strong></p>
                <ul>
                    <li>@format.Description</li>
                    <li><strong>Format layout:</strong><br>
                        @{string[] lines = @Pattern(@format.Pattern);}
                        @foreach (string line in lines)
                        {
                            <span>@line</span>
                            <br>
                        }
                    </li>
                </ul>
                <p><button id="@format.FormatName">Select this Format</button></p>
            </div>
        }
    </details>
</section>
<section id="format_fields"></section>
<section id="formatted_address"></section>

<script type="text/javascript">
    var model = @Html.Raw(JsonSerializer.Serialize(Model));
    const address_format = {
        pattern: "",
        fields: []
    };
    const select_format = document.getElementById('select_format');
    const buttons = document.querySelectorAll('button');
    const format_fields = document.getElementById('format_fields');
    const formatted_address = document.getElementById('formatted_address');
    let fields_details = "";
    let form_data = {};

    buttons.forEach(button => button.addEventListener('click', e => {
        const format_name = e.target.id;
        const formats = model["Formats"];
        select_format.open = false;
        for (let i = 0; i < formats.length; i++)
            if (formats[i]["FormatName"] === format_name)
            {
                address_format.pattern = formats[i]["Pattern"];
                address_format.fields = formats[i]["Fields"];
                break;
            }
        clear(format_fields);
        clear(formatted_address);
        addForm();
    }));

    function clear(parent) {
        let child = parent.lastElementChild;
        while (child) {
            parent.removeChild(child);
            child = parent.lastElementChild;
        }
    }

    function addForm()
    {
        fields_details = document.createElement('details');
        fields_details.id = "fields-details";
        fields_details.open = true;
        const summary = document.createElement('summary');
        summary.appendChild(document.createTextNode("Fill in address fields"));
        fields_details.appendChild(summary);
        const fields_form = document.createElement('form');
        fields_form.id = "fields_form";
        address_format.fields.forEach(field => {
            const label = document.createElement('label');
            label.for = field;
            label.appendChild(document.createTextNode(reformat(field)));

            const index = address_format.pattern.indexOf(field);
            const optional = address_format.pattern[index - 1] == ":";

            const input = document.createElement('input');
            input.id = field;
            input.name = field;
            if (!optional)
                input.required = true;

            fields_form.appendChild(label);
            fields_form.appendChild(input);
        });
        const submit_btn = document.createElement('input');
        submit_btn.type = "submit";
        submit_btn.value = "Format Address";
        fields_form.appendChild(submit_btn);
        fields_form.addEventListener('submit', e => {
            e.preventDefault();
            display(e.target);
        })
        fields_details.appendChild(fields_form);
        format_fields.appendChild(fields_details);
    }

    function reformat(field) {
        field = field.replace("-", " ");
        return field[0].toUpperCase() + field.substring(1);
    }

    function format() {
        const lines = address_format.pattern.split("\n");
        for (let i = 0; i < lines.length; i++)
        {
            const tokens = lines[i].split(/[{}]/);
            for (let j = 0; j < tokens.length; j++)
                if (form_data[tokens[j]] != null)
                    tokens[j] = form_data[tokens[j]];
                else if (tokens[j].includes(":") && tokens[j][0] == ":")
                    tokens[j] = "";
            lines[i] = tokens.join(" ");
        }
        for (let i = lines.length - 1; i >= 1; i--)
            if (lines[i].trim() == "" || /^[,\,]+$/.test(lines[i].trim()))
                lines.splice(i, 1);
        for (let line of lines)
            line.replace(" ,", ",");
        return lines;
    }

    function display(form) {
        const inputs = document.querySelectorAll('form input');
        form_data = {};
        for (var input of inputs) 
            if (input.type != "submit")
                form_data[input.id] = input.value;
        let empty = true;
        for (const k in Object.keys(form_data))
            if (form_data[k] != "")
                empty = false;
        if (empty) {
            formatted_address.innerHTML = "You provided no inputs.";
            return false;
        }

        fields_details.open = false;
        const address = format();
        clear(formatted_address);

        let paragraph = document.createElement('p');
        const strong = document.createElement('strong');
        strong.appendChild(document.createTextNode("Formatted Address:"));
        paragraph.appendChild(strong);
        formatted_address.appendChild(paragraph);
        paragraph = document.createElement('p');
        for (let i = 0; i < address.length; i++)
        {
            paragraph.appendChild(document.createTextNode(address[i]));
            if (i != address.length - 1)
                paragraph.appendChild(document.createElement('br'))
        }
        formatted_address.appendChild(paragraph);
    }
</script>