@{
    ViewData["Title"] = "GAF";
    Layout = "_Layout";
}
@using System.Text.RegularExpressions;
@using System.Text.Json;
@using FormatterClient.Models;

@functions {
    public string Reformat(string name)
    {
        Regex regex = new Regex(@"[A-Z][a-z]+");
        Match match = regex.Match(name);
        if (match.Success)
        {
            List<string> matches = new List<string>();
            foreach (Group g in match.Groups)
                matches.Add(g.Value);
            return String.Join(" ", matches);
        }
        return name;
    }
}

<main>
    <section>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "SelectCountry" }))
        {
            <select id="CountryCode" name="CountryCode">
                @foreach (Country country in ViewBag.CountryCode)
                {
                    <option value="@country.CountryCode">@country.CountryName</option>
                }
            </select>
        }
    </section>
    <section id="SelectFormat">
    @if (ViewBag.Formats != null)
    {
        <p>Select a format below:</p>
        <br>
        <br>
        @foreach (var format in @Model.Formats)
        {
            <div>
                <p><strong>Format:</strong> @Reformat(@format.Key)</p>
                <ul>
                    <li><strong>Pattern:</strong> @format.Value.Pattern</li>
                    <li><strong>Description:</strong> @format.Value.Description</li>
                </ul>
                <p><button id="@format.Key">Select this Format</button></p>
            </div>
        }
    }
    </section>
</main>

<script type="text/javascript">
    document
    .getElementById("CountryCode")
    .addEventListener('change', () => 
        document
        .getElementById("SelectCountry")
        .submit());

    var model = @Html.Raw(JsonSerializer.Serialize(Model));

    document
    .getElementById("SelectFormat")
    .addEventListener('click', e => {
        const code = e.target.id;
        model["Pattern"] = model["Formats"][code]["Pattern"];
        model["Fields"] = model["Formats"][code]["Fields"];
    });
</script>