@{
    ViewData["Title"] = "GAF";
    Layout = "_Layout";
}

<main>
    <section>
        @Html.Label("CountryCode", "Select a Country:")
        @Html.DropDownList("CountryCode", new { @onchange = "@Get"})
    </section>
    <section>
        @if (formats != null)
        {
            <table>
                <thead>
                    <tr>
                        <th>Format</th>
                        <th>Pattern</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Format format in formats)
                    {
                        <tr id="@format.Name" @onclick="DisplayForm">
                            <td>@format.Name</td>
                            <td>@format.Pattern</td>
                            <td>@format.Description</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </section>
    <section></section>
</main>

@code {
    private List<Format> formats;

    private void Get(ChangeEventArgs e)
    {
        string code = e.Value.ToString();
        formats = Format.GetFormats(code);
    }

    private void DisplayForm(MouseEventArgs e)
    {
        string name = e.Target.Id;
        List<string> fields = formats.Fields;
        foreach (string field in fields)
        {
            
        }
    }
}