@{
    ViewData["Title"] = "GAF";
    Layout = "_Layout";
}
@using System.Text.RegularExpressions;
@using System.Text.Json;
@using FormatterClient.Models;
@model AddressFormatter

@functions {
    public string Reformat(string name)
    {
        Regex regex = new Regex(@"[A-Z][a-z]+");
        Match match = regex.Match(name);
        if (match.Success)
        {
            List<string> matches = new List<string>();
            foreach (Group g in match.Groups)
                matches.Add(g.Value);
            return String.Join(" ", matches);
        }
        return name;
    }
}

<main>
    <section>
        <form id="country-form" method="POST" action="/home/setcountry">
            @Html.DropDownList("CountryCode");
        </form>
    </section>
    @if (@Model.Formats != null)
    {
        <section id="select-format">
            <p>Select a format below:</p>
            <br>
            <br>
            @foreach (var format in @Model.Formats)
            {
                <div>
                    <p><strong>Format:</strong> @Reformat(@format.Key)</p>
                    <ul>
                        <li><strong>Pattern:</strong> @format.Value.Pattern</li>
                        <li><strong>Description:</strong> @format.Value.Description</li>
                    </ul>
                    <p><button id="@format.Key">Select this Format</button></p>
                </div>
            }
        </section>
    }
</main>

<script type="text/javascript">
    const countryForm = document.querySelector('form#country-form');
    const dropdown = document.querySelector("[name=CountryCode]");
    dropdown.addEventListener('change', () => countryForm.submit());

    var model = @Html.Raw(JsonSerializer.Serialize(Model));

    const list = document.querySelector('section#select-format');
    if (list != null)
        list.addEventListener('click', e => {
            string code = e.target.id;
            model["Pattern"] = model["Formats"][code]["Pattern"];
            model["Fields"] = model["Formats"][code]["Fields"];
        });
</script>